html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: white; /* чтобы не было белых полос */
}

#unity-container {
  width: 100vw;
  height: 100vh;
}

#unity-canvas {
  width: 100vw;
  height: 100vh;
  display: block;
  touch-action: none;
}
